!!!5
%head
  %meta{:charset => 'utf-8'}
  %title GURU JF
  %link{:rel => 'stylesheet', :href => 'gurujf.css'}
%body
  %header
    %h1.logo GURU JF
  %section
    %header
  %footer
    %section.encontros
      %h2 ultimos encontros
      %ul
        %li blado - ontem - na traf
        %li skjf - antonte - ces
    #github bladobladoblado.github.com
