!!!5
%head
  %meta{:charset => 'utf-8'}
  %title GURU JF
  %link{:rel => 'stylesheet', :href => 'gurujf.css'}
%body
  %header
    %h1.logo GURU JF
  %section
    = yield
  %footer
    #github bladobladoblado.github.com
